<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>

<script type="text/javascript" src="{host}/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="{host}/js/jquery/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="{host}/js/jquery/jquery-ui.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{host}/css/base.css">
<link rel="stylesheet" type="text/css" href="{host}/css/frame.css">
<link rel="stylesheet" type="text/css" href="{host}/css/bootstrap-combobox.css">
<style type="text/css">
body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}
</style>
</head>
<body>
	<div class="container" style="width:800px;padding:80px 10px;border-radius:20px;background-color:#FFF;">
	<p>{traveler_name}，您好：</p>
	<p>您的订单已经确认，再次感谢您的购买。如果您对行程发生变化，请联系客服，电话：{cstel}</p>
	<div class="panel panel-default">
		<div class="panel-body">
			<h5>订单信息</h5>
			<table class='table'>
				<tr>
					<td style="width:90px;">单号</td>
					<td><a href="{gotourl}" target="_blank">{order_no}</a></td>  
				</tr>
				<tr>
					<td>购买商品</td>
					<td>{goods_title}</td>
				</tr>
				<tr>
					<td>联系电话</td>
					<td>{traveler_tel}</td>
				</tr>
				<tr>
					<td>出玩时间</td>
					<td>{dept_date}</td>
				</tr>
				<c:if test="isNeedsPickup">
					<tr>
						<td>接机信息：</td>
						<td>
							<p>航班号-{pickup.flightNo}</p>
							<p>抵达日期-{pickup.arrivedDate}</p>
							<p>抵达时间-{pickup.arrivedTime}</p>
						</td>
					</tr>
				</c:if>
			</table>
		</div>
	</div>
	<p>此致</p>
	<p>泰奇幻客服</p>
</div>
</html>
