<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
	    <mapping class="com.magic.thai.db.domain.User" />
	    <mapping class="com.magic.thai.db.domain.Hotel" />
	    <mapping class="com.magic.thai.db.domain.Goods" />
	    <mapping class="com.magic.thai.db.domain.GoodsDetails" />
	    <mapping class="com.magic.thai.db.domain.GoodsPriceSegment" />
	    <mapping class="com.magic.thai.db.domain.GoodsLog" />
	    <mapping class="com.magic.thai.db.domain.Merchant" />
	    <mapping class="com.magic.thai.db.domain.MerchantDetails" />
	    <mapping class="com.magic.thai.db.domain.Channel" />
	    <mapping class="com.magic.thai.db.domain.ChannelMerchantInv" />
	    <mapping class="com.magic.thai.db.domain.ChannelGoodsInv" />
	    <mapping class="com.magic.thai.db.domain.Order" />
	    <mapping class="com.magic.thai.db.domain.OrderLog" />
	    <mapping class="com.magic.thai.db.domain.OrderTraveler" />
    </session-factory>
</hibernate-configuration>
